<div class="container-login">
    <div class="heading">
        <img src="assets/img/logo-white.png" alt="logo" />
        <h6>Cambiar contraseña</h6>
    </div>
    <form [formGroup]="recoveryForm" class="form" (ngSubmit)="recovery()">
        <div class="row mb-md-3 form-group">
            <label for="inputEmail3" class="col-form-label">Nueva contraseña</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-unlock"></i></div>
                <input type="password" class="form-control" placeholder="Ingrese su nueva contraseña"
                    formControlName="contrasenia1"
                    [ngClass]="{'is-invalid': submited && recoveryForm.get('contrasenia1')?.errors}">
            </div>
        </div>
        <div class="row mb-3 form-group">
            <label for="inputEmail3" class="col-form-label">Confirmar contraseña</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                <input type="password" class="form-control" placeholder="Confirme su nueva contraseña"
                    formControlName="contrasenia2"
                    [ngClass]="{'is-invalid': submited && recoveryForm.get('contrasenia2')?.errors}">
            </div>
        </div>
        <small class="form-text text-muted">La contraseña debe tener mínimo 8 caracteres y máximo 15, debe combinar mayúsculas y minúsculas, números y signos.</small>
        <br>
        <small *ngIf="recoveryForm.hasError('passwordMismatch')" class="text-danger">
            Las contraseñas no coinciden.
        </small>
        <div class="row buttons">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>