<div class="container-login">
    <div class="heading">
        <img src="assets/img/logo-white.png" alt="logo" />
        <h6>Recuperar contraseña</h6>
    </div>
    <form [formGroup]="forgotForm" class="form" (ngSubmit)="forgot()">
        <div class="row mb-md-3 form-group">
            <label for="inputEmail3" class="col-form-label">Correo</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-envelope"></i></div>
                <input type="text" class="form-control" placeholder="Ingrese su correo electrónico"
                formControlName="correo_electronico" [ngClass]="{'is-invalid': submited && forgotForm.get('correo_electronico')?.errors}">
            </div>
        </div>
        <div class="row mb-3 form-group">
            <label for="inputEmail3" class="col-form-label">Documento</label>
            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-id-card"></i></div>
                <input type="text" class="form-control" placeholder="Ingrese su documento" (keypress)="helpers.onlyNumbers($event)"
                formControlName="num_documento" [ngClass]="{'is-invalid': submited && forgotForm.get('num_documento')?.errors}">
            </div>
        </div>
        <div class="row buttons">
            <button type="submit">Validar</button>
        </div>
    </form>
</div>