<div class="modal-header">
    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef!.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<form [formGroup]="ordersForm" class="form" (ngSubmit)="save()">
    <div class="modal-body">
        <div class="mb-3 row">
            <div class="col-md-6 col-sm-12">
                <label class="form-label">Autoparte</label>
                <select class="form-select" formControlName="id_autoparte"
                    [ngClass]="{'is-invalid': submited && ordersForm.get('id_autoparte')?.errors}">
                    <option value="" hidden>Seleccionar</option>
                    @for (area of autoPartsList; track $index) {
                    <option [value]="area.id_autoparte">{{area.nombre_autoparte}}</option>
                    }

                </select>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="form-label">Cantidad</label>
                <input type="text" class="form-control" formControlName="cantidad"
                (keypress)="helpers.onlyNumbers($event)"
                    [ngClass]="{'is-invalid': submited && ordersForm.get('cantidad')?.errors}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row buttons">
            <button type="button" (click)="bsModalRef!.hide()">Cancelar</button>
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>